/.idea/.gitignore
/.idea/modules.xml
/.idea/url_shortener.iml
/.idea/vcs.xml
/frontend/.vite/

# Backend build artifacts
backend/server
backend/*.exe
backend/*.out

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
